<header class="header">
  <div class="header__logo">
    <a href="/">
      <img src="assets/img/logo.png" class="header__logo__img" alt="Maurício Mutte logo">
    </a>
  </div>
  <nav class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__item">
        <a href="/blog" class="navbar__link">Blog</a>
      </li>
      <li class="navbar__item">
        <a href="/projetos" class="navbar__link">Projetos</a>
      </li>
      <li class="navbar__item">
        <a href="/sobre" class="navbar__link">Sobre</a>
      </li>
    </ul>
  </nav>
  <div class="header__social">
    <a href="https://twitter.com/mauriciomutte" class="header__social__link" target="_blank">
      <img src="assets/img/social-twitter.png" alt="Twitter logo" class="header__social__img">
    </a>
    <a href="https://github.com/mauriciomutte" class="header__social__link" target="_blank">
      <img src="assets/img/social-github.png" alt="Github logo" class="header__social__img">
    </a>
  </div>
</header>