$light-black: #222;
$dark-grey: #333;
$grey: #515151;
$light-grey: #999;
$white: #fff;
$dark-white: #D8D8D8;
$light-white: #f9f9f9; 
$blue: #268bd2;
$light-pink: #bf616a;
$transparent: transparent;

$screen-xs: 520px;  // Extra small screen / phone
$screen-sm: 760px;  // Small screen / tablet
$screen-md: 990px;  // Medium screen / desktop
$screen-lg: 1200px; // Large screen / wide desktop

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: $screen-sm) {
    font-size: 1.4rem;
  }
}

body {
  color: $grey;
  background-color: $white;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  box-sizing: border-box;
  background: {
    image: linear-gradient(to bottom, $dark-grey 50%, transparent 50%);
    position: 0% 0%;
    size: 215%;
  }
  border: 2px solid $dark-grey;
  border-radius: 3em;
  color: $white;
  display: table;
  margin: 2em auto;
  letter-spacing: 2px;
  padding: .6em 2.2em;
  text-align: center;
  text-transform: uppercase;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
  font-weight: 700;
  font-size: .7rem;
  font-family: "Montserrat", sans-serif;
  
  &:hover,
  &:focus {
    background-position: 0 100%;
    color: $dark-grey;
    text-decoration: none;
    outline: 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.1;
  color: $dark-grey;
  letter-spacing: -.025rem;
  font-family: "Montserrat", sans-serif;
  
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
}

h4, h5, h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: inside circle;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid $light-white;
  border-bottom: .5px solid $light-white;
  margin: 1.5rem auto;
}

strong {
  color: $dark-grey;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $grey;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $dark-white;
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: $light-grey;
  border-left: .5rem solid $dark-white;

  p:last-child {
    margin-bottom: 0;
  }
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $dark-white;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $dark-white;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $light-white;
}
