
.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: $screen-sm){
    padding: 2rem 1rem;
  }
}

.header {
  background-color: $dark-grey;
  padding: 10px 0 5px;
  text-align: center;
  
  @media (min-width: $screen-sm){
    padding: 7px 25px 3px;    
    text-align: left;

    &__logo, 
    &__logo__img, 
    &__social {
      display: inline-block;
    }

    &__logo,
    &__social {
      width: 33%;
    }

    &__social {
      text-align: right;
      vertical-align: top;
    }
  }

  &__logo {
    &__img {
      height: 100%;
      margin: auto;
      margin-bottom: 0px;
      width: 60px;
    }    
  }

  &__social {
    @media (max-width: $screen-sm){
      display: none;
    }

    &__link {
      display: inline-block;
    }
    
    &__img {
      height: 100%;
      margin: 8px 8px 0;
      width: 1rem;
    }
  }
}

.navbar {
  vertical-align: top;
  margin: 5px 0;

  @media (min-width: $screen-sm){
    display: inline-block;
    margin: 0;
    width: 33%;
  }
  @media (min-width: $screen-lg){
    margin-top: .1%;
  }

  &__nav {
    margin-bottom: 0px;
    text-align: center;    
  }
   
  &__item {
    display: inline-block;
    list-style: none;
    margin: 0;
  }

  &__link {
    color: $white;
    font-size: .8rem;     
    font-weight: bold;
    margin: 0 10px;
    text-transform: uppercase;

    &:hover {
      color: $dark-white;
      text-decoration: none;
    }
  }
}

.apresentation {
  text-align: center;
  
  &__title {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  &__resum {
    letter-spacing: 1px;
    text-align: justify;
  }
}

.homeBlog {
  margin-top: 4rem;
  text-align: center;

  &__title {
    color: $grey;
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  &__noPost {
    margin: 1.5rem 0;
    text-align: center;
  }
  &__post {
    margin-bottom: 0;
    letter-spacing: 1px;

    &__link {
      display: block;
      border-bottom: 1px solid $dark-white;
      text-align: left;
      margin: 2rem 0 1rem;

      &:hover {
        border-color: $grey;
        text-decoration: none;
      }
  
      &:hover .homeBlog__post {
        color: $grey;       
      }
    }

    &__postDate {
      color: $grey;
      font-size: .75rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }

    
  }
}

.homeProjects {
  margin-top: 4rem;
  text-align: center;

  &__title {
    color: $grey;
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  &__list {
    text-align: left;
    padding-bottom: .5rem;
  }

  &__project {
    list-style: none;
    margin-top: 1.2rem;
    
    &__link {
      border-bottom: 1px solid $dark-white;      
      color: $grey;
      display: block;
      font-size: 1.2rem;
      margin-top: .5em;
      padding-bottom: .3rem;
    
      &:hover {
        text-decoration: none;
        color: $dark-grey;
        border-color: $grey;
      }
    }
  }
}

.page {

  &__title {
    color: $grey;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2em;
    text-align: center;
    text-transform: uppercase;
  }
}

.post {

  &__header {
    background-color: $grey;
    color: $white;
    text-align: center;
    padding: 3rem 0 4rem;
  }

  &__title {
    color: $white;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    max-width: 600px;
  }

  &__date {
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.share {
  border-top: 1px solid $dark-white;
  margin: 3rem auto 4rem;
  max-width: 600px;
  text-align: center;
  text-decoration: none;  
  
  &__title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  &__svg {
    height: 45px;
    margin: 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 45px;    
  }
  
  .share__twitter svg:hover {
    fill: #1DA1F2;
  }
  .share__facebook svg:hover {
    fill: #3B5998;
  }
}
