
.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: $screen-sm){
    padding: 2rem 1rem;
  }
}

.header {
  background-color: $dark-grey;
  padding: 7px 25px 3px;
  text-align: center;

  @media (min-width: $screen-sm){
    text-align: left;

    &__logo, 
    &__logo__img, 
    &__social {
      display: inline-block;
    }

    &__logo,
    &__social {
      width: 33%;    
    }

    &__social {
      vertical-align: top;
      text-align: right;
    }
  }

  &__logo {
    &__img {
      height: 100%;
      margin: auto;
      margin-bottom: 0px;    
      width: 60px;
    }    
  }

  &__social {

    &__link {
      display: inline-block;
    }
    
    &__img {
      height: 100%;
      margin: 8px 8px 0;
      width: 1rem;
    }
  }
}

.navbar {
  vertical-align: top;

  @media (min-width: $screen-sm){
    display: inline-block;
    width: 33%;    
  }
  @media (min-width: $screen-lg){
    margin-top: .1%;
  }

  &__nav {
    margin-bottom: 0px;
    text-align: center;    
  }
   
  &__item {
    display: inline-block;
    list-style: none;
  }

  &__link {
    color: $white;
    font-size: .8rem;          
    font-weight: bold;
    margin: 0 10px;
    text-transform: uppercase;

    &:hover {
      color: $dark-white;
      text-decoration: none;
    }
  }
}

.apresentation {
  text-align: center;
  
  &__title {
    font-size: 5.6vh;
    letter-spacing: 1px;
  }
  &__resum {
    letter-spacing: 1px;
    text-align: justify;
  }
}

.homeBlog {
  margin-top: 3em;
  text-align: center;

  &__title {
    color: $grey;
    font-size: 5.3vh;
    margin: 1em 0;
  }

  &__noPost {
    margin: 1em 0;
  }
  &__post {
    margin-bottom: 0;
    letter-spacing: 1px;

    &__link {
      display: block;
      border-bottom: 1px solid $dark-white;
      text-align: left;
      margin: 2em 0 1em;

      &:hover {
        border-color: $grey;
        text-decoration: none;
      }
  
      &:hover .homeBlog__post {
        color: $grey;        
      }
    }

    &__postDate {
      color: $grey;
      font-size: .75rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }

    
  }
}

.homeProjects {
  margin-top: 4em;
  text-align: center;

  &__title {
    color: $grey;
    font-size: 5.3vh;
    margin: 1em 0;
  }

  &__list {
    text-align: left;
    padding-bottom: .5em;
  }

  &__project {
    list-style: none;
    margin-top: 1.2em;
    
    &__link {
      border-bottom: 1px solid $dark-white;      
      color: $grey;
      display: block;
      font-size: 4vh;
      margin-top: .5em;
      padding-bottom: .3em;
    
      &:hover {
        text-decoration: none;
        color: $dark-grey;
        border-color: $grey;
      }
    }
  }
}

.page {
  .page-title {
    margin-bottom: 2rem;
  }
}

.post {
  .post-title {
    margin-bottom: .25rem;
  }
  .post-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}